.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}

/* ------------------------------------------------------------------------- */

body{
  margin: 0;
  padding: 0;
  background: #bbb;
}

#container{
  width: 910px;
  margin: 0 auto;
}